
.Titulo{
  background-color:chartreuse ;
  text-align:center;
  margin: auto;
   
}
.Titulo button{

  background:lawngreen;
  border-style: none;
  
}
.Cuadros {
  
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 100px;
  width: 200px;
  color: black;
  border: 1px solid black;
  display:inline-block;
  
}
.Cuadros h2{

  text-align: center;
}

.Cuadros img{

  align-content: center;
}



button{
  size: 10xp;
  margin-top: 50px;
  margin-left: 50xp;
  margin-right: 50xp;
  
}

